.margin {
    margin: 20%;
}

.body {
    margin: 0;
    box-sizing: border-box;
}

#app {
    display: grid;
}

#app > div {
    border: 1px dashed red;
}

#app span {
    border: 1px dashed blue;
}

#grid-template-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#grid-template-columns div {
    border: 1px dashed red;
}

#grid-template-columns span {
    border: 1px dashed blue;
}

#grid-template-columns-2 {
    display: grid;
    grid-template-columns: 200px 100px 50px;
}

#grid-template-columns-2 div {
    border: 1px dashed red;
}

#grid-template-columns-2 span {
    border: 1px dashed blue;
}

#grid-template-columns-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

#grid-template-columns-3 div {
    border: 1px dashed red;
}

#grid-template-columns-3 span {
    border: 1px dashed blue;
}

#grid-template-columns-4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr)
}

#grid-template-columns-4 div {
    border: 1px dashed red;
}

#grid-template-columns-4 span {
    border: 1px dashed blue;
}

#grid-template-rows {
    display: grid;
    grid-template-rows: 280px 1fr 2fr 50%;
}

#grid-template-rows div {
    border: 1px dashed red;
}

#grid-template-rows span {
    border: 1px dashed blue;
}

#grid-template-rows-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 100px;
    
}

#grid-template-rows-2 div {
    border: 1px dashed red;
}

#grid-template-rows-2 span {
    border: 1px dashed blue;
}

#grid-template-rows-3 {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 200px 100px;
    
}

#grid-template-rows-3 div {
    border: 1px dashed red;
}

#grid-template-rows-3 span {
    border: 1px dashed blue;
}

#grid-template-rows-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    height: 50vh;
    border: solid green;
}

#grid-template-rows-4 div {
    border: 1px dashed red;
}

#grid-template-rows-4 span {
    border: 1px dashed blue;
}

#grid-template-rows-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    height: 50vh;
    border: solid green;
}

#grid-template-rows-5 > div {
    border: 1px dashed red;
}

#grid-template-rows-5 span {
    border: 1px dashed blue;
}

#grid-template-rows-5 div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 4;
}

#grid-template-rows-5 span:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 3;

}

#grid-template-rows-5 span:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

}

#grid-template-areas {
    display: grid;
    grid-template-areas: 
    "A B B"
    "A B B"
    "A C D";
    height: 50vh;
    border: solid green;
}

#grid-template-areas > div {
    border: 1px dashed red;
}
#grid-template-areas span {
    border: 1px dashed blue;
}

#grid-template-areas div:nth-child(1)
{
    grid-area: A;
}

#grid-template-areas span:nth-child(2)
{
    grid-area: B;
}

#grid-gap {
    display: grid;
    grid-template-areas: 
    "A B B"
    "A B B"
    "A C D";
    height: 50vh;
    border: solid green;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#grid-gap > div {
    border: 1px dashed red;
}
#grid-gap span {
    border: 1px dashed blue;
}

#grid-gap div:nth-child(1)
{
    grid-area: A;
}

#grid-gap span:nth-child(2)
{
    grid-area: B;
}

#grid-shorthand-template {
    display: grid;
    
    grid-template-areas: 
    "A B B" 80px
    "A B B" 40px
    "A C D" 50px / 80px 1fr 2fr;
    /*Ãrea, altura da linha, largura da coluna,*/


    height: 50vh;
    border: solid green;
    gap: 20px;
    padding: 30px;
    box-sizing: border-box;
}

#grid-shorthand-template > div {
    border: 1px dashed red;
}
#grid-shorthand-template span{
    border: 1px dashed blue;
}

#grid-shorthand-template div:nth-child(1)
{
    grid-area: A;
}

.grid-content {
    display: grid;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;

    align-content: start;

    height: 100vh;
    width: 100vw;
    background-color: black;


}

.grid-content > div {
    background-color: cornflowerblue;
}

.grid-content-2 {
    display: grid;

    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 8px;

    align-content: center;

    height: 100vh;
    width: 100vw;
    background-color: black;


}

.grid-content-2 > div {
    background-color: cornflowerblue;
}