*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit; /*reseta todas as fontes*/

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

:root {
    --bg-color: #09090b;
    --surface-color: #18181b;
    --stroke-color: #27272A;
    --text-color-primary: #f4f4f5;
    --text-color-secondary: #a1a1aa;
    --brand-color: #f7b733;
    --brand-color-secondary: #fc4a1a;

    /*Definição de fontes e pesos, como estamos aplicando responsividade, colocamos system-ui para aplicar a fonte do sistema padrão caso a fonte 'Inter' esteja indisponível*/
    --ff-sans: 'Inter', system-ui, sans-serif; 
    --fw-base: 400; /*fonte weight*/
    --fw-md: 500; /*fonte weight*/
    --fw-bold: 800; /*fonte weight*/


    /*Definindo os tamanhos das fontes adaptadas para diferentes dispositivos*/
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2.5rem;

    /*Definindo os paddings base*/
    --py-base: 1rem;
    --py-lg: 1.5rem;
    --py-xl: 3rem;
    --px-lg: 1.5rem;

}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--text-color-primary);
}

body {
    background-color: var(--bg-color);
}

h1, h2, h3 {
    line-height: 1.2;
    color: var(--text-color-primary);
    font-weight: var(--fw-bold);
    letter-spacing: -0.04em;
}

h1 {
    font-size: var(--fs-2xl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-lg);
}

a {
    text-decoration: none;
    color: inherit; /*a cor será herdada do elemento pai*/
}

/*Aqui tiramos os pontos dos itens da lista, mas também colocamos role="lista" aqui e no html também para o navegador tratar o elemento como uma lista*/
ul[role="lista"] {
    list-style: none;
}

/*Aplicando a responsividade, todos os elementos com width >= 80em (1280px) terão seus tamanhos de fonte aumentados*/
@media (width >= 80em) {
    :root {
        --fs-lg: 2rem;
        --fs-xl: 3rem;
        --fs-2xl: 4rem;

        /*Definindo os paddings para telas maiores*/
        --py-base: 1.5rem;
        --py-lg: 2.5rem;
        --py-xl: 5rem;
        --px-lg: 2rem;
    }
}