.circle {
    background-color: blue;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;



    animation-name: move;
    animation-duration: 1s;
    animation-delay: 1s;




}

@keyframes move {
    10%, 50% {
        transform: translateY(300px);
    }

    30%, 70% {
        transform: translateY(0px);
    }

}