.transitions {
    background-color: mediumpurple;
}

.area {
    background-color: white;
    width: 4rem;
    height: 4rem;
    opacity: .6;

    transition-property: opacity, transform;
    transition-duration: 1s, 2s;
    transition-delay: 200ms;

}

.area:hover {
    opacity: 1;
    transform: translateX(50px);
}

.area2 {
    background-color: white;
    width: 4rem;
    height: 4rem;
    opacity: .6;

    transition-property: opacity, transform;
    transition-duration: 500ms;

    transition-timing-function: cubic-bezier(.42,0,.5,.9);

}

.area2:hover {
    opacity: 1;
    transform: translateX(50px);
}

.area3 {
    background-color: white;
    width: 4rem;
    height: 4rem;
    opacity: .6;

    transition-property: opacity, transform;
    transition-duration: 1s;

    transition-timing-function: steps(5);

}

.area3:hover {
    opacity: 1;
    transform: translateX(40px);
}

@media (prefers-reduced-motion) {
    div {
        transition: none;
    }
}