.transitions {
    background-color: mediumpurple;
}

.area {
    background-color: white;
    width: 4rem;
    height: 4rem;
    opacity: .6;

    transition-property: opacity, transform;
    transition-duration: 1s, 2s;
    transition-delay: 200ms;

}

.area:hover {
    opacity: 1;
    transform: translateX(50px);
}